source.txt
source_z.txt
source.txt
/teststuf-main/.venv
*.json
/teststuf-main/D-BT05
/teststuf-main/D-BT06
/teststuf-main/BCS2022
/teststuf-main/BCS2023
/teststuf-main/BCS2425
/teststuf-main/BRO2021
/teststuf-main/BRO2022
/teststuf-main/BSF2022
/teststuf-main/BSF2023
/teststuf-main/BSF2024
/teststuf-main/BSFo2021
/teststuf-main/BSL2021
/teststuf-main/BWC2015
/teststuf-main/D-BT01
/teststuf-main/D-BT02
/teststuf-main/D-BT03
/teststuf-main/D-BT04
/teststuf-main/D-BT07
/teststuf-main/D-BT08
/teststuf-main/D-BT09
/teststuf-main/D-BT10
/teststuf-main/D-BT11
/teststuf-main/D-BT12
/teststuf-main/D-BT13
/teststuf-main/D-CS01
/teststuf-main/D-LBT01
/teststuf-main/D-LBT02
/teststuf-main/D-LBT03
/teststuf-main/D-LBT04
/teststuf-main/D-LTD01
/teststuf-main/D-PR
/teststuf-main/D-PV01
/teststuf-main/D-SD01
